{% extends 'partials/base.html.twig' %}

{% block content %}
    <div id="middle-fullwidth" class="pure-g">
        <h1>Er, are you alright?</h1>
        <p>Through unintentional or malicious means you've somehow arrived at a place that the server insists doesn't exist. It'd be wise to listen to the server and perhaps, like, <a href="http://matthewmack.com.au">go somewhere more familiar</a>.</p>
    </div>
{% endblock %}